<initialization enabled="true">
    <users>
        <add name="Test Admin" email="test@ed-fi.org" password="3xKfPuZlyzdEGpQWUO7Mj" admin="true">
            <sandboxes>
                <sandbox name="Populated Demonstration Sandbox" key="of8AZGyWkShR0iBuKtl4g" secret="DKm5FbRvs86BSXUdgJwEZ" type="Sample" refresh="true" />
                <sandbox name="Minimal Demonstration Sandbox" key="M3J7yXKaTqPd1fEYUSmhr" secret="mILDYJjKMpiasRVSPr0Qf" type="Minimal" refresh="true" />
            </sandboxes>
        </add>
    </users>
</initialization>
